<div class="flex flex-row flex-grow items-center">
  {{!-- disabled attribute is not working o_O --}}
  <button
    {{action "goToPrevSlide"}}
    class="
      {{unless this.presentation.isPrevSlidePossible "btn-disabled"}}
      opacity-50 hover:opacity-90
      flex-1"
  >
    {{svg-jar "previous" class="icon"}}
  </button>

  <p class="pagination m-0 font-tabular-nums flex-2">{{this.paginationString}}</p>

  {{!-- disabled attribute is not working o_O --}}
  <button
    {{action "goToNextSlide"}}
    class="
      {{unless this.presentation.isNextSlidePossible "btn-disabled"}}
      opacity-50 hover:opacity-90
      flex-1"
  >
    {{svg-jar "next" class="icon"}}
  </button>
</div>
