<div
  ...attributes
  class="slide-4 {{if @speaker "hidden md:flex" "flex"}}">

  {{#let (get-code-snippet "slide.js" unindent=false) as |snippet|}}
    <CodeBlock @language="javascript" @code={{snippet.source}} />
  {{/let}}

</div>

{{#if @speaker}}
  <SpeakerControls
    @isPaused={{@isPaused}}
    @togglePlayState={{@togglePlayState}}
    @paginationString={{@paginationString}}
    @goToPrevSlide={{@goToPrevSlide}}
    @goToNextSlide={{@goToNextSlide}}
    @notes={{this.notes}} />
{{else}}
  <ToggleFullScreen />
{{/if}}
