<div class="flex h-screen {{if this.download "flex-col"}}">
  {{#if this.download}}
    {{#each (range 1 (inc this.presentation.slides)) as |slide|}}
      <PresentationContainer
        @slide={{slide}}
        @speaker={{this.speaker}}
        @isExport={{true}} />
    {{/each}}
  {{else}}
    <PresentationContainer
      @slide={{this.slide}}
      @speaker={{this.speaker}} />
  {{/if}}

  {{#unless this.speaker}}
    <Controls::FullScreen />
  {{/unless}}
</div>

{{outlet}}
